.date:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    left: 0px;
    bottom: -8px;
    background: grey;
    border-radius: 20px;
}

.magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1105.37c21-39.532 63-28.88 105-197.664 42-168.783 63-523.014 105-646.254 42-123.24 63 22.832 105 30.056 42 7.225 63-41.654 105 6.065C462 345.29 483 467.12 525 530.1c42 62.98 63 93.923 105 82.372 42-11.551 63-205.601 105-140.127 42 65.474 63 397.817 105 467.498 42 69.68 63-11.063 105-119.095s63-301.053 105-421.063c42-120.011 63-228.398 105-178.99 42 49.407 63 316.495 105 426.027 42 109.533 63 151.555 105 121.636 42-29.918 63-273.505 105-271.228 42 2.277 63 306.195 105 282.612 42-23.582 63-333.244 105-400.523 42-67.278 63-13.818 105 64.13 42 77.95 63 319.336 105 325.615 42 6.279 84-235.376 105-294.22l5 925.255H0Z%22 fill=%22%2320b7b51a%22%2F%3E%3Cpath d=%22M0 1105.37c21-39.532 63-28.88 105-197.664 42-168.783 63-523.014 105-646.254 42-123.24 63 22.832 105 30.056 42 7.225 63-41.654 105 6.065C462 345.29 483 467.12 525 530.1c42 62.98 63 93.923 105 82.372 42-11.551 63-205.601 105-140.127 42 65.474 63 397.817 105 467.498 42 69.68 63-11.063 105-119.095s63-301.053 105-421.063c42-120.011 63-228.398 105-178.99 42 49.407 63 316.495 105 426.027 42 109.533 63 151.555 105 121.636 42-29.918 63-273.505 105-271.228 42 2.277 63 306.195 105 282.612 42-23.582 63-333.244 105-400.523 42-67.278 63-13.818 105 64.13 42 77.95 63 319.336 105 325.615 42 6.279 84-235.376 105-294.22%22 fill=%22none%22 stroke=%22%2320B7B5%22 stroke-width=%224%22%2F%3E%3C%2Fsvg%3E");
  }
  